@light-orange: #FFA446;
@dark-orange:  #F18052;
@red:          #CC0000;

body,
html {
  margin: 0;
  background: #fff;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav {
    position: relative;
    z-index: 99999999;
    padding: 0 4%;
    border-bottom: 2px solid #000;
    font-family: 'Tulpen One', monospace;
    font-size: 25px;
    letter-spacing: 1px;
  }

  a {
    text-decoration: none;
    color: #444649;
  }

  a:hover {
    text-decoration: underline;
  }

  .home {

  }

  .home__icon {
    width: 30px;
    fill: #000;
    display: block;
    padding: 12px;
  }

  .nav {
    display: flex;
  }

.nav__link.mid {
  flex: 1;
}

  .nav__link.top:hover {
    background: #000;

  }
.nav__link.top:hover a.top__anchor{
  color: #fff;
}

.nav__link.btm a{
  color: #000;
}

.nav__link.btm {
  padding: 0 10px;
}

  .bars {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 4px;
  }

  .bar1, .bar2, .bar3 {
      width: 30px;
      height: 2px;
      background-color: #000;
      margin: 6px 0;
      transition: 0.4s;
  }

  .change .bar1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px);
      transform:         rotate(-45deg) translate(-9px, 6px);
  }

  .change .bar2 {opacity: 0;}

  .change .bar3 {
      -webkit-transform: rotate(45deg) translate(-4px, -3px);
      transform:         rotate(45deg) translate(-4px, -3px);
  }

  .sub-nav {
    display: none;
  }



  nav ul li {

  }

  .top__anchor {
    padding: 14px;
    display: block;
  }

  .nav__link.top {
    display: block!important;
  }

  .expands:hover .sub-nav {
    display: block;
    position: absolute;
    background: #fff;
    border: 2px solid #000;
    padding: 10px 0;
  }

  .new-views {
    display: none;
  }

.bug {
  font-size: .3em;
  position: relative;
  transition: transform 2.5s ease-in-out 3s;
  display: inline-flex;
  will-change: transform, top, left;
  top:  0%;
  left: 0%;
}

.task {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  padding: 4px;
  color: @red;
  cursor: pointer;
}

.info-window {
  display: none;
  background: #fff;
  font-family: 'Tulpen One', monospace;
  font-size: 2.9em;
  height: 75%;
  border: 2px solid #000;
  margin: 6px;
  .content {
    margin: 2%;
    p {
      line-height: 0.9;
      margin: 8% 2%;
    }
    .mono {
      font-family: "Roboto Mono", monospace;
      font-size: .5em;
      line-height: 1.1;
    }
    .break {
      word-break: break-all;
    }
  }
}



.title-bar {
  text-align: center;
  width: 100%;
  background-image: url('img/win-title-bg.jpg');
  background-repeat: repeat-x;
  background-position: center;
  border-bottom: 2px solid #000;
  .text {
    background: #fff;
    padding: 0 6px;
    margin-left: -22px;
  }
  .close {
    float: left;
    fill: #000;
    padding: 3%;
    background-color: #fff;
    cursor: pointer;
    height: .5em;
    width: 7%;
  }
}



pre {margin: 0;}

.ascii-container{
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 1.3vw;
}

.stage {
  z-index: 1;
}

.grid-container {
  position: absolute;
  top: 0;
  display: grid;
  height: 100%;
  width:  100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:    50% 50%;
  grid-gap: 1px 1px;
  grid-template-areas: "row1-col1 row1-col2 row1-col3" "row2-col1 row2-col2 row2-col3";
}

.grid-container.top-grid {
  z-index: 2;
}

.grid-container.bottom-grid {
  z-index: 0;
}

.bottom-grid {
  background-position: center right;
  background-size: cover;
}

.bottom-grid.v02 {
  background-image: url('img/test5.jpg');
}
.bottom-grid.v03 {
  background-image: url('img/test4.jpg');
}
.bottom-grid.v04 {
  background-image: url('img/test3.jpg');
}
.bottom-grid.v05 {
  background-image: url('img/test2.jpg');
}
.bottom-grid.v06 {
  background-image: url('img/test1.jpg');
}
.bottom-grid.v07 {
  background-image: url('img/test6.jpg');
}

.tall-grid {
  height: 138%;
}

.short-grid {
  background: #fff;
  height: 62%;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.top-grid .grid-cell {
  border: 1px solid green;
}

.bottom-grid .grid-cell {
  border: 1px solid magenta;
}

.row1-col1 { grid-area: row1-col1; }

.row1-col2 {
  grid-area: row1-col2;
  height: inherit;
}

.row1-col3 { grid-area: row1-col3; }

.row2-col1 { grid-area: row2-col1; }

.row2-col2 {
  grid-area: row2-col2;
  height: inherit;
}

.row2-col3 { grid-area: row2-col3; }

.inbox, .letter {
  padding: 6% 44% 0% 10%;
}
.letter {
  box-sizing: border-box;
  position: absolute;
  top: 69%;
  left: -1%;
}

.alerts {
  padding: 1% 4% 0%;
  text-align: right;
  display: none;
}

.alert-link {
  animation: blinker 1s linear infinite;
  color: @red;
}

@keyframes blinker {
  50% { opacity: 0; }
}

.computer-screen {
  width:  98%;
  height: 46%;
  border: 0;
  resize: none;
  outline: none;
}

.digits-outer {
  margin: 0px 19% -5%;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  width: 57%;

}

.digits {
  display: inline-flex;
  margin-left: 13%;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  width: 74%;
  justify-content: center;
}

.digit {
  display: flex;
}

.colon {
 animation: blinker 1s linear infinite;
}

.comp-screen {
  background-color: #fff;
}

.left-top-round {
  border-radius: 12px 12px 0 0;
}

.wallpaper {
  background: linear-gradient(100deg, #fff 50%, @light-orange , @dark-orange );
  background-size: 200% 200%;
  -webkit-animation: wallgradient 9s ease 1;
  -moz-animation: wallgradient 9s ease 1;
  animation: wallgradient 9s ease 1;
  animation-fill-mode: forwards;

}

@-webkit-keyframes wallgradient {
    0%{background-position:0% 7%}
    100%{background-position:100% 94%}
}
@-moz-keyframes wallgradient {
    0%{background-position:0% 7%}
    100%{background-position:100% 94%}
}
@keyframes wallgradient {
    0%{background-position:0% 7%}
    100%{background-position:100% 94%}
}

.wallpaper-text {color: rgba(0, 0, 0, 0.4);}

.window {
  background: white;
  margin: 10% 6% 0;
  border-radius: 0 0 0 10%;
}

@media only screen and (min-width: 651px) {
    a:hover {

    }

    .bars {
      display: none;
    }
  }
/*
  @media only screen and (max-width: 650px) {

  .nav {
    display: block;
  }

  .bars {
    display: block;
  }

  .nav__link.top {
    display: none;
  }

  nav ul {
      list-style: none;
      background: #1c1c1c;
      padding: 5px 0;
      font-size: 0.8em;
  }

  nav ul li {
      padding: 0;
  }

  nav li a {
      display: block;
      padding: 0 20px;
      color: #fff;
      font-weight: bold;
      letter-spacing: 0.1em;
      letter-spacing: 0.1em;
      line-height: 2em;
      height: 2em;
  }

  .sub-nav {
    display: block;
  }
}
*/
