@light-orange: #FFA446;
@dark-orange: #F18052;
@red: #CC0000;

body,
html {
  margin: 0;
  background: #fff;
  font-family: 'Ropa Sans', sans-serif;
}

h1 {
  font-family: 'Tulpen One', monospace;
  font-size: 3em;
  margin: 2%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav {
  position: relative;
  z-index: 3;
  padding: 0 4%;
  border-bottom: 2px solid #000;
  font-family: 'Tulpen One', monospace;
  font-size: 25px;
  letter-spacing: 1px;
  background: #fff;
}

a {
  text-decoration: none;
  color: #444649;
}

a:hover {text-decoration: underline;}

.ending {
  background-position: center right;
  background-size: cover;
  background-image: url("img/test5.jpg");
  background-repeat: no-repeat;
}

.red {color: @red;}

.mask {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
  position: absolute;
  background: rgba(0, 0, 0, .5);
}

.dialog {
  width: 50%;
  background: #fff;
  text-align: center;
  border: 2px solid #000;
  padding: 2%;
}

.start {
  font-family: 'Press Start 2P', sans-serif;
  padding: 14px;
  cursor: pointer;
}

.start:hover {color: @red;}

.cookies {
  background: #000;
  color: #fff;
  padding: 2%;

  a {
    color: @red;
    text-align: right;
    display: inherit;
  }

  p {margin: 2%;}
}

.bold {
  font-weight: bold;
}

.home__icon {
  width: 30px;
  fill: #000;
  display: block;
  padding: 12px;
}

.home__icon:hover {fill: @red;}

.nav {display: flex;}

.mid {flex: 1;}

.nav__link.top:hover {background: #000;}

.nav__link.top:hover a.top__anchor {color: #fff;}

.nav__link.btm a {color: #000;}

.nav__link.btm {padding: 0 10px;}

.bars {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 4px;
}

.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 2px;
  background-color: #000;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-4px, -3px);
  transform: rotate(45deg) translate(-4px, -3px);
}

.sub-nav {display: none;}

.top__anchor {
  padding: 14px;
  display: block;
}

.nav__link.top {display: block!important;}

.expands:hover .sub-nav {
  display: block;
  position: absolute;
  background: #fff;
  border: 2px solid #000;
  padding: 10px 0;
}

.new-views {display: none;}

.bug {
  display: none;
  font-size: 0.3em;
  position: relative;
  transition: transform 2.5s ease-in-out 3s;
  will-change: transform, top, left;
  top: 0;
  left: 0;
  text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff;
}

.task {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  padding: 1px;
  color: @red;
  cursor: pointer;
  font-weight: bold;
}

.strike {text-decoration: line-through;}

.info-window {
  display: none;
  background: #fff;
  font-family: 'Tulpen One', monospace;
  font-size: 2.9em;
  max-height: 80%;
  border: 2px solid #000;
  margin: 4px 0;

  .content {
    font-family: 'Press Start 2P', sans-serif;
    margin: 2%;
    font-size: 0.4em;

    p {
      margin: 3% 2%;
      line-height: 1.2;
    }

    .mono {
      font-family: "Roboto Mono", monospace;
      font-size: 1.3em;
    }

    .break {word-break: break-all;}
  }
}

.signature {text-align: right;}

.title-bar {
  text-align: center;
  width: 100%;
  background-image: url("img/win-title-bg.jpg");
  background-repeat: repeat-x;
  background-position: center;
  border-bottom: 2px solid #000;

  .text {
    background: #fff;
    padding: 0 6px;
    margin-left: -22px;
  }

  .close {
    float: left;
    fill: #000;
    padding: 3%;
    background-color: #fff;
    cursor: pointer;
    height: 0.5em;
    width: 7%;
  }
}

pre {margin: 0;}

.ascii-container {
  background: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 1.3vw;
}

.stage {z-index: 1;}

.grid-container {
  position: absolute;
  top: 0;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50% 50%;
  grid-gap: 1px 1px;
  grid-template-areas: "row1-col1 row1-col2 row1-col3" "row2-col1 row2-col2 row2-col3";
}

.grid-container.top-grid {z-index: 2;}

.grid-container.bottom-grid {z-index: 0;}

.bottom-grid {
  background-position: center right;
  background-size: cover;
}

.bottom-grid.v02 {background-image: url("img/test5.jpg");}

.bottom-grid.v03 {background-image: url("img/test4.jpg");}

.bottom-grid.v04 {background-image: url("img/test3.jpg");}

.bottom-grid.v05 {background-image: url("img/test2.jpg");}

.bottom-grid.v06 {background-image: url("img/test1.jpg");}

.bottom-grid.v07 {background-image: url("img/test6.jpg");}

.tall-grid {height: 138%;}

.short-grid {
  background: #fff;
  height: 62%;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.row1-col1 {grid-area: row1-col1;}

.row1-col2 {
  grid-area: row1-col2;
  height: inherit;
}

.row1-col3 {grid-area: row1-col3;}

.row2-col1 {grid-area: row2-col1;}

.row2-col2 {
  grid-area: row2-col2;
  height: inherit;
}

.row2-col3 {grid-area: row2-col3;}

.inbox,
.letter {padding: 6% 44% 0 10%;}

.letter {
  box-sizing: border-box;
  position: absolute;
  top: 69%;
  left: -1%;
  font-size: 1.3em;
}

.alert-bug,
.alert-urgent,
.alerts {
  padding: 1% 4% 0;
  text-align: right;
  display: none;
  font-size: 1.3em;
}

.alert-link {
  animation: blinker 1s linear infinite;
  color: @red;
}

@keyframes blinker {
  50% {opacity: 0;}
}

.computer-screen {
  width: 98%;
  height: 45%;
  border: 0;
  resize: none;
  outline: none;
  font-family: 'Ropa Sans', sans-serif;
  font-size: 1.9em;
}

.clock {margin-top: 50%;}

.digits-outer {
  margin: 0 20% -5%;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  width: 56%;
}

.digits {
  display: inline-flex;
  margin-left: 12%;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  width: 75%;
  justify-content: center;
}

.digit {display: flex;}

.colon {animation: blinker 1s linear infinite;}

.task2 {
  color: @red;
  cursor: pointer;
  z-index: 3;
  font-weight: bold;
}

.comp-screen {background-color: #fff;}

.left-top-round {border-radius: 12px 12px 0 0;}

.wallpaper-text {
  color: rgba(0, 0, 0, 0.4);
}

.window {
  background: white;
  margin: 10% 6% 0;
  border-radius: 0 0 0 10%;
}

footer {
  font-family: 'Press Start 2P', sans-serif;
  background: #000;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  padding: 0 4%;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;

  span {
    padding: 14px 0;
    display: flex;
    align-items: center;
  }
}

.lives {color: @red;}

.fin {
  display: none;
  position: absolute;
  top: 25%;
  left: 25%;
}

.tracks {
  position: absolute;
  left: -9999px;
}
